*.txt

# binary files
*.exe
*.dll
*.so
*.o
*.out
*.bin

# vscode project organizer
*.sln

# c# config
*.csproj

# folders
**/inputs/
**/bin/
**/obj/

aoc_22_to_refactor/
aoc_23_to_refactor/

# all starting with '.', except .gitignore
.*
!.gitignore
