*.txt

# binary files
*.exe
*.dll
*.so
*.o
*.out
*.bin

# vscode project organizer
*.sln

# python cache
*.pyc
__pycache__/

# c# config
*.csproj

# folders
**/inputs/
**/bin/
**/obj/

*_to_refactor/

# all starting with '.', except .gitignore
.*
!.gitignore
